{% extends 'store/base.html' %}
{% block content %}
  {% load static %}
  <div>
    <img class=" img-fluid" src="{% static 'images/3coffees_pouring.jpg'%}">
  </div>

  <!-- About Container -->
  <div class="container justify-content-center" id="about">
    <div id="about-box">
      <h4 id="about-header" class="justify-content-center">ABOUT BAARD &amp; CO</h4>
      <div>
        <p>
          The Baard & Co Coffee dream started and was established in 2017. Although still a micro roastery, they have big dreams. Louis de Jager started his career as a navy diver and has been working offshore for many years away from his family. The standard diving hat inspired Ronel, Louis’ wife and an establisehd artist. She thought it well to incorporate it into the design as diving has been such an integral part of Louis’ existence. Marisa Niemandt designed the label for them.
  Louis and Ronel have always shared a passion for fine coffee and an interest in coffee roastery was sparked when they fell in love with a Local Coffee Roastery in Namibia where Louis was born and bred. A good friend and well-established coffee roaster in Cape Town taught Louis how to roast and develop high-quality coffee roasts. “Since then we can live doing what we love – together!”
  “If you have a dream, it is your role and responsibility to make it come true; if you do not do it, you are only a dreamer.” – Marco Pierre White
  We are very fortunate to have crossed paths with Baard & Co Coffee Roasters and we are sure that you will enjoy their coffee as much as we do!
        </p>

      <p>Louis and I went on a Bread baking course as a Date after 2 months of not seeing each other, just Before South Africa's Lockdown began. Louis works Offshore in the Diving Industry but since borders closed he could not go back to work in Saudi Arabia. Louis has always had a Passion for Baking because of his German Heritage. Our Sourdough babies were born in Lockdown amidst chaos and uncertainty. It was an Add-on to our Coffee Roastery. What started as Gifts, turned into Requests for Gifts to friends of friends. People's Generosity and Support did not cease to Amaze us. Our Passion Grew and we Grew as a Couple, working alongside each other getting to know one another on a whole new Level. Our mission was to send out a Message of hope and on our packaging we put the following Bible Verse: “But he answered, "It is written, "'Man shall not live by bread alone, but by every word that comes from the mouth of God.'"”</p>
      </div>
    </div>
  </div>


{% endblock content %}